body, html {
    height: 100%;
    margin: 0;
    background-color: black;
}

li {
    font-size: x-large;
}

.inner {
    position: relative;
    top: 41%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "freight-big-pro", serif;
    font-size: 44px;
    max-width: 80%;
    text-rendering: optimizeLegibility;
}

.inner-lo {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "freight-big-pro", serif;
    font-size: 50px;
    max-width: 100%;
    text-rendering: optimizeLegibility;

}
